extends layout

block content
    h2= title

    div(class="dropdown")
        button(id="dropdownMenu" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown") テーブル選択
            span(class="caret")
        ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu")
            li(class="divider" role="presentation")
            li(role="presentation")
                a(href="javascript:void(0);" role="menuitem" tabindex="-1" onclick="alert('new'); return false;") 新規テーブル

    div(style="position:relative")
        div(class="grid-header" style="width:100%")
            label= "- テーブル名 -"
            span(class="ui-icon ui-icon-search" style="float:right" title="Toggle search panel")
        div(id="gridContainer" style="width:100%;height:400px;")
        div(id="pager" style="width:100%;height:20px;")

    div(id="inlineFilterPanel")
        Show タイトルフィルタ
        input(id="txtSearch2" type="text")
        and &nbsp; % 最低〜 &nbsp;
        div(id="pcSlider2" style="width:100px;display:inline-block;")

    // jQuery and so on.
    script(src="slickgrid/lib/jquery-1.7.min.js")
    script(src="slickgrid/lib/jquery-ui-1.8.16.custom.min.js")
    script(src="slickgrid/lib/jquery.event.drag-2.2.js")

    // Bootstrap
    script(src="bootstrap/js/bootstrap.min.js")

    // Parts of SlickGrid 
    script(src="slickgrid/controls/slick.columnpicker.js")        // カラム制御
    script(src="slickgrid/controls/slick.pager.js")               // ページ制御
    script(src="slickgrid/plugins/slick.rowselectionmodel.js")    // 行選択モデル
    script(src="slickgrid/slick.core.js")             // SlickGridコア
    script(src="slickgrid/slick.dataview.js")         // データ表示モデル
    script(src="slickgrid/slick.editors.js")          // 編集モデル
    script(src="slickgrid/slick.formatters.js")       // フォーマットモデル
    script(src="slickgrid/slick.grid.js")             // 表制御モデル

    // Main Javascript
    script(src="javascripts/index.js")
