doctype html
html
  head
    title= title
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/slick.grid.css")
    link(rel="stylesheet", href="controls/slick.pager.css")
    link(rel="stylesheet", href="stylesheets/smoothness/jquery-ui-1.8.16.custom.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="controls/slick.columnpicker.css")

  body
    block content
